.wrapper {
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

@media (max-width: 48em) {
    .wrapper {
        padding-top: calc(var(--mantine-spacing-xl) * 1.5);
    }
}

.title {
    font-family:
    Greycliff CF,
    var(--mantine-font-family);
    font-weight: 900;
    margin-bottom: var(--mantine-spacing-md);
    text-align: center;
}

@media (max-width: 48em) {
    .title {
        font-size: rem(28px);
        text-align: center;
    }
}

.description {
    text-align: center;
}

@media (max-width: 48em) {
    .description {
        text-align: center;
    }
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    margin: 0 auto;
}

@media (max-width: 48em) {
    .icon {
        margin: 0 auto;
    }
}

.featureTitle {
    text-align: center;
}