.title {
    font-size: rem(34px);
    font-weight: 900;

    @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(24px);
    }
}

.description {
    max-width: rem(600px);
    margin: auto;

    &::after {
    content: '';
    display: block;
    background-color: var(--mantine-color-blue-filled);
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
    }
}

.card {
    border: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.cardTitle {
    &::after {
    content: '';
    display: block;
    background-color: var(--mantine-color-blue-filled);
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
    }
}

.root {
    border-top-left-radius: var(--mantine-radius-xl);
    border-bottom-left-radius: var(--mantine-radius-xl);
    padding-left: 4px;

    /* The following styles will be applied only when button is disabled */
    &[data-disabled] {
    /* You can use Mantine PostCSS mixins inside data attributes */
    @mixin light {
        border: 1px solid var(--mantine-color-gray-2);
    }

    @mixin dark {
        border: 1px solid var(--mantine-color-dark-4);
    }

    /* You can target child elements that are inside .root[data-disabled] */
    & .section[data-position='left'] {
        opacity: 0.6;
    }
    }
}

.section {
    /* Apply styles only to left section */
    &[data-position='left'] {
    --section-size: calc(var(--button-height) - 8px);

    background-color: var(--mantine-color-body);
    color: var(--mantine-color-text);
    height: var(--section-size);
    width: var(--section-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--mantine-radius-xl);
    }

    &[data-position='right'] {
    @mixin rtl {
        transform: rotate(180deg);
    }
    }
}